[user]
  name = Anna Shipman
  email = [redacted]

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  lg = log --pretty=oneline --topo-order --graph --abbrev-commit --decorate

[core]
  excludesfile = /Users/annashipman/.gitignore_global

[push]
  default = upstream
